.bar{
    background-color:black;
    height:115px;
}
.search{
    float:left;
    
}
.search_box{
    padding:1px 2px 0px 0px;
    height:40px;
    width:250px;
}
.menu{
    padding-top:80px;
    float:left;
}
.menu a{
    text-decoration:none;
    color:white;
    font-size: xx-large;
}
.end_header{
    background-color: black;
}
.a1{
    color:white;
    font-size: xx-large;
}
.Connect{
        font-size: xx-large;
}
.a2{
    font-size: xx-large;
}
.a1 a,.a2 a,.Connect{
    color:white;
    text-decoration:none;
}